* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

header {
    text-align: end;
    background-image: linear-gradient(rgba(240, 200, 200, 0.5), rgba(29, 27, 27, 0.5)), url(IMG-20191108-WA0027.jpg);
    height: 700px;
    width: 100%;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

header nav ul li {
    top: 3vh;
    display: inline;
    position: relative;
}

header nav ul li a {
    font-weight: 600;
    text-decoration: none;
    color: WHITE;
    padding: 1vw;
    font-size: 3vh;
}

header nav ul li a:hover {
    border-radius: 10px;
    border: solid gray;
    border-width: 2px 0px 2px 0px;
}

.tour {
    font-size: 80px;
    text-align: center;
}

.k {
    color: grey;
    text-align: center;
}

.image {
    display: flex;
    width: 50%;
    height: 400px;
}

.image2 {
    display: flex;
    width: 50%;
    height: 430px;
    float: right;
    background-size: cover;
    background-color: darkred;
    flex-wrap: wrap;
}

.p {
    display: flex;
}

.one {
    background-image: url(20210817_124223.jpg);
    height: 300px;
    width: 50%;
    margin-left: 40px;
    margin-top: 40px;
    background-size: cover;
    margin-right: 8px;
}

.two {
    background-image: url(plumbing\ lab1.jpg);
    height: 300px;
    width: 50%;
    margin-top: 100px;
    background-size: cover;
    margin-right: 8px;
    margin-bottom: 8px;
}

.o {
    height: 50%;
    width: 33.33%;
    color: white;
    position: relative;
    text-align: center;
    background-size: cover;
}

.kk {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.t {
    background-color: rgb(255, 255, 255);
    height: 50%;
    width: 33.33%;
    background-image: url(plumbing\ lab\ 2.jpg);
    background-size: cover;
    color: white;
}

.ll {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.th {
    background-color: darkred;
    height: 50%;
    width: 33.33%;
    color: white;
    position: relative;
    text-align: center;
}

.f {
    background-color: white;
    height: 50%;
    width: 33.33%;
    color: white;
    background-image: url(IMG_20191101_153055.jpg);
    background-size: cover;
}

.fi {
    background-color: darkred;
    ;
    height: 50%;
    width: 33.33%;
    color: white;
    position: relative;
    text-align: center;
}

.ff {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.s {
    background-color: white;
    height: 50%;
    width: 33.33%;
    color: white;
    background-image: url(IMG_20191101_153240.jpg);
    background-size: cover;
}